h1.popup General Settings
hr(style='margin-bottom: 20px;')
div
	div
		label.poplabel(for='pop_hostname') Hostname
		input#pop_hostname.popinput(type='text' name='pop_hostname' value='#{hostname}')
		span#pop_hostname_alert(style='position: relative; top: 4px; width: 15px; foat: left; display: inline-block;')
		div#pop_hostname_error
	div
		label.poplabel(for='pop_description') Description
		textarea#pop_description.poptext(type='text' name='pop_description')
			| #{description}
	div(style='padding-top: 15px;')
		label.poplabel Wireless Mode
		span(style='padding-left: 30px;')
			if apmode == 1
				input#pop_apmode(type='radio' name='pop_apmode' value=1 checked=true disabled=true)
			else
				input#pop_apmode(type='radio' name='pop_apmode' value=1 checked=false disabled=true)
			label(for='pop_apmode')
				img(src='/images/icons/small_router.png' style='position: relative; top: 3px;')
		span(style='padding-left: 30px;')
			if apmode == 0
				input#pop_wifimode(type='radio' name='pop_apmode' value=0 checked=true disabled=true)
			else
				input#pop_wifimode(type='radio' name='pop_apmode' value=0 checked=false disabled=true)
			label(for='pop_wifimode')
				img(src='/images/icons/small_wifi.png' style='position: relative; top: 3px;')

	div(style='padding-top: 25px;')
		label.poplabel Temperature
		span(style='padding-left: 30px;')
			if tempdisplay == 'C'
				input#pop_tempdisplay_c(type='radio' name='pop_tempdisplay' value='C' checked=true)
			else
				input#pop_tempdisplay_c(type='radio' name='pop_tempdisplay' value='C' checked=false)
			label.poplabel(for='pop_tempdisplay_c' style='width: 10px;') &#x2103
		span(style='padding-left: 39px;')
			if tempdisplay == 'F'
				input#pop_tempdisplay_f(type='radio' name='pop_tempdisplay' value='F' checked=true)
			else
				input#pop_tempdisplay_f(type='radio' name='pop_tempdisplay' value='F' checked=false)
			label.poplabel(for='pop_tempdisplay_f' style='width: 10px;') &#x2109
	div(style='padding-top: 20px;')
		hr
script.
	function check() {
		// clear all the error boxes and alerts
		$("div[id$='_error']").empty()
		$("span[id$='_alert']").removeClass('ui-icon ui-icon-alert')

		var invalid_flag = 0;
		var message = '';

		if ($('#pop_hostname').val() == "")
		{
			invalid_flag = 1;
			message = '* hostname is empty';
			$('#pop_hostname_error').append("<p class='inputerror'>" + message + "</p>");
			$('#pop_hostname_alert').addClass('ui-icon ui-icon-alert');
		}
		if (invalid_flag != 1) {
			data = {
				hostname: $('#pop_hostname').val(),
				description: $('#pop_description').val(),
				tempdisplay: $("input:radio[name=pop_tempdisplay]:checked").val(),
				apmode: $("input:radio[name=pop_apmode]:checked").val()
			}
			nodeio.emit('put:general', data);
			return true;
		}
	}
