h1 Jade isn't so bad!
h2= title


- var four = 'quatro';
- var five = "<b>Cinco</b>";
- var funk = function() { return "Funcktions?"; }
- var followerCount = 2;
- var users = [ {name: "kevin", email: "khogg@uccs.edu"}, {name: "royce", email: "rskelton@uccs.edu"}, {name: "andrew", email: "amiller5000@uccs.edu"}, {name: "shaun", email: "sraj2@uccs.edu"} ];


ul#nav
	li.current Uno
	li Dos
	li Tres
	li #{ four }
	li #{ five }
	li= funk()
	li Schtuff
		a(href="/other", rel="no follow") What?

p I want tons of text here on more than one line...

p
	| I want
	| tons of text
	| here on more than one line

p.
	I want
	tons of text
	here on more than one line

p
	if followerCount === 0
		| You have no followers...
	else if followerCount === 1
		| You have a follower.
	else
		| You have #{followerCount} followers.

mixin userLi(user)
	li #{user.name}: &lt; #{user.email}

ul

// crap from setup.jade for use later...
	each user, i in users
		li #{user.name} #{user.email}

				each wifi, i in wifis
					div(id='w#{i}')
						input(type='radio' name='wlan0_ssid' value='#{wifi.ssid}' id='wlan0_#{i}' onchange="wifiselect('w#{i}', #{wifis.length})" style='visibility: hidden')
						label.setupwifi(for='wlan0_#{i}')
							span.setupwifissid
								| #{wifi.ssid}
							span.setupwifisec
								img(src='/images/locked.png')
								| &nbsp; #{wifi.security}
							span.setupwifisig
								| Signal &nbsp; 
								if wifi.signal < 150
									img(src='/images/signal_low.png')
								else if wifi.signal >= 150 && wifi.signal < 200
									img(src='/images/signal_med.png')
								else if wifi.signal > 200
									img(src='/images/signal_high.png')
						br
