extends layout_minimal

block content
	div.center
		br
		img.clicky(src="/images/security.png" id="setupimg1" style="opacity: .5;")
		img(src="/images/dash.png")
		img(src="/images/network.png" id="setupimg2")
		img(src="/images/dash.png")
		img(src="/images/router.png" id="setupimg3")
		img(src="/images/dash.png")
		img(src="/images/wifi.png" id="setupimg4")

	h1.heading= wtf

	form(method='post' name='setup' action='/setup' onsubmit="return validateForm()")
		div.subcontent(id='setup1')
			h2 System Settings
			fieldset
				legend Node Details
				label.setupnet(for='hostname') Hostname
				input(type='text', name='hostname', id='hostname', size='12' value='#{hostname}')
				br
				label.setupnet(for='description') Description
				textarea(type='text' name='description' id='description' rows='2' cols='50')
					| #{description}
			br
			br
			fieldset
				legend Login Credentials
				label.setupnet(for='username') Username
				input(type='text', name='username', id='username', size='12' value='#{username}')
				br
				label.setupnet(for='password') Password
				input(type='password', name='password', id='password', size='12')

		div.subcontent(id='setup2' style='display: none')
			h2 Wired Network Settings
			fieldset
				legend Ethernet
				label.setupnet(for='eth0_mode') Mode
				select(name='eth0_mode', id='eth0_mode' onchange="ipMode('eth0')")
					if eth0.mode == "dynamic"
						- var eth0_dis = "disabled";
						option(value="dynamic" selected) Dynamic
						option(value="static") Static
					else if eth0.mode == "static"
						- var eth0_dis = 0;
						option(value="dynamic") Dynamic
						option(value="static" selected) Static
				br
				label.setupnet(for='eth0_ip') IP Address
				input(type='text', name='eth0_ip', id='eth0_ip', size='12' value='#{eth0.ip}' disabled='#{eth0_dis}')
				br
				label.setupnet(for='eth0_subnet') Subnet Mask
				input(type='text', name='eth0_subnet', id='eth0_subnet', size='12' value='#{eth0.subnet}' disabled='#{eth0_dis}')
				br
				label.setupnet(for='eth0_gw') Gateway
				input(type='text', name='eth0_gw', id='eth0_gw', size='12' value='#{eth0.gw}' disabled='#{eth0_dis}')
				br
				label.setupnet(for='eth0_dns1') DNS1
				input(type='text', name='eth0_dns1', id='eth0_dns1', size='12' value='#{eth0.dns1}' disabled='#{eth0_dis}')
				br
				label.setupnet(for='eth0_dns2') DNS2
				input(type='text', name='eth0_dns2', id='eth0_dns2', size='12' value='#{eth0.dns2}' disabled='#{eth0_dis}')

		div.subcontent(id='setup3' style='display: none')
			h2 Wireless Network Selection
			each wifi, i in wifis
				input(type='radio' name='wlan0_ssid' value='#{wifi.ssid}' id='wlan0_#{i}' onchange="wifiselect('w#{i}', #{wifis.length})" style='visibility: hidden')
				label.setupwifi(id='w#{i}' for='wlan0_#{i}')
					span.setupwifissid
						| #{wifi.ssid}
					span.setupwifisec
						img(src='/images/locked.png')
						| &nbsp; #{wifi.security}
					span.setupwifisig
						| Signal &nbsp; 
						if wifi.signal < 150
							img(src='/images/signal_low.png')
						else if wifi.signal >= 150 && wifi.signal < 200
							img(src='/images/signal_med.png')
						else if wifi.signal > 200
							img(src='/images/signal_high.png')
				br

		div.subcontent(id='setup4' style='display: none')
			h2 Wireless Network Settings
			fieldset
				legend Wireless
				label.setupnet(for='wlan0_mode') Mode
				select(name='wlan0_mode', id='wlan0_mode' onchange="ipMode('wlan0')")
					if wlan0.mode == "dynamic"
						- var wlan0_dis = "disabled";
						option(value="dynamic" selected) Dynamic
						option(value="static") Static
					else if wlan0.mode == "static"
						- var wlan0_dis = "";
						option(value="dynamic") Dynamic
						option(value="static" selected) Static
				br
				label.setupnet(for='wlan0_ip') IP Address
				input(type='text', name='wlan0_ip', id='wlan0_ip', size='12' value='#{wlan0.ip}' disabled='#{wlan0_dis}')
				br
				label.setupnet(for='wlan0_subnet') Subnet Mask
				input(type='text', name='wlan0_subnet', id='wlan0_subnet', size='12' value='#{wlan0.subnet}' disabled='#{wlan0_dis}')
				br
				label.setupnet(for='wlan0_gw') Gateway
				input(type='text', name='wlan0_gw', id='wlan0_gw', size='12' value='#{wlan0.gw}' disabled='#{wlan0_dis}')
				br
				label.setupnet(for='wlan0_dns1') DNS1
				input(type='text', name='wlan0_dns1', id='wlan0_dns1', size='12' value='#{wlan0.dns1}' disabled='#{wlan0_dis}')
				br
				label.setupnet(for='wlan0_dns2') DNS2
				input(type='text', name='wlan0_dns2', id='wlan0_dns2', size='12' value='#{wlan0.dns2}' disabled='#{wlan0_dis}')

		h1.heading= ""
		div
			input(id="setupPrev" type="button" value="Previous" onclick="wizard('setup', 3, 'prev');" style="visibility: hidden")
			input(id="setupNext" type="button" value="Next" onclick="wizard('setup', 3, 'next');")
			input(id="setupSubmit" type="submit" value="Submit" style="visibility: hidden")
